<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head" ></head>
<h1 th:text="${title}">Update Student</h1>
<!--<h1 th:text="'Edit student \'' +${student.name} + '\'(id =' +${student.id} + ')'"></h1>-->
<body>
<p> Please update the Student details</p>
<br/>
<form method="post" style="max-width:600px;"  action = "student/edit{id}" th:object="${student}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="grade">Grade</label>
        <input class="form-control" th:field="*{grade}" />
        <span th:errors="*{grade}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="emailId">EmailId</label>
        <input class="form-control" th:field="*{emailId}" />
        <span th:errors="*{emailId}" class="error"></span>
    </div>
    <input type="hidden" name="id" th:value="${id}"/>
    <input type="submit" value="Edit Student" />
</form>
</body>

</html>