<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head" ></head>
<body>

<h1 th:text="${title}">Student</h1>

<nav th:replace="fragments :: navigation"></nav>

<table class="table">

    <tr>
        <th>Name</th>
        <th>Grade</th>
        <th>EmailId</th>
    </tr>

    <tr th:each="student : ${students}">
        <td th:text="${student.name}"></td>
        <td th:text="${student.grade}"></td>
        <td th:text="${student.emailId}"></td>
        <td><a th:href="@{'/student/edit/' + ${studentId}}">edit</a></td>
    </tr>
</table>
    <a href="/student/add">Add</a>
</body>
</html>
