<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<h1 th:text="${title}"> Default Title </h1>
<body>
<p>Please select student to Remove</p>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="margin-left:100px;">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Grade</th>
                <th>EmailId</th>
            </tr>
        </thead>
    </table>
    <tbody>
        <tr>
            <div th:each="student :${students}" class="checkbox">
            <input type="checkbox" name="studentIds" th:value="${student.id}" th:id="${student.id}"/>
                <div class="form-group">

            <label th:for="${student.id}" th:text="${student.name}"></label>
            <label th:for="${student.id}" th:text="${student.grade}" style="margin-left:25%;"></label>
            <label th:for="${student.id}" th:text="${student.emailId}" style="margin-left:20%;"></label>
                </div>
            </div>
        </tr>
    </tbody>
<button type="submit" class="btn btn-danger">Remove Student</button>
<!--<input type="submit" value="Remove Student" />-->

</form>
</body>
</html>