<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head" ></head>
<h1 th:text="${title}">Create Teacher</h1>
<body>
<p> Please fill the below details to Create Teacher Schedule</p>
<br/>
<form method="post" style="max-width:600px;" th:object="${assign}">
    <div class="form-group">
        <label th:for="period">Period</label>
        <input class="form-control" th:field="*{period}" />
        <span th:errors="*{period}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="teacherId">Teacher</label>
        <select name="teacherId">
            <option th:each="teacher: ${teachers}"
                    th:text="${teacher.name}"
                    th:value="${teacher.id}"></option>
        </select>
    </div>
    <input type="submit" value="Create Assign" />
</form>
</body>

</html>