<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <form th:object="${assignForm}" method="post">

        <div class="form-group">
            <label th:for="teacherId">Teacher</label>
            <select th:field="*{teacher.id}">
                <option th:each="teacher : *{teachers}"
                        th:value="${teacher.id}"
                        th:text="${teacher.value}"></option>
            </select>
        </div>

        <!--<div class="form-group">-->
            <!--<label th:for="courseId">Course</label>-->
            <!--<select th:field="*{course.courseId}">-->
                <!--<option th:each="course : *{courses}"-->
                        <!--th:value="${course.id}"-->
                        <!--th:text="${course.value}"></option>-->
            <!--</select>-->
        <!--</div>-->

        <div class="form-group">
            <label th:for="studentId">Student</label>
            <select th:field="*{student.id}">
                <option th:each="student : *{students}"
                        th:value="${student.id}"
                        th:text="${student.value}"></option>
            </select>
        </div>

        <input type="submit" value="Assign" />
    </form>

    <input type="hidden" name ="teacherId" th:value="${assignForm.teacherId}"/>
    <input type="hidden" name ="studentId" th:value="${assignForm.studentId}"/>



</div>

</body>
</html>