<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!--<div th:unless="${jobs} and ${jobs.size()}">-->
        <!--<h2>No Results</h2>-->
    <!--</div>-->

    <!--<div th:fragment="jobs-list">-->
        <!--<div th:if="${jobs} and ${jobs.size()}">-->

            <!--<h3 th:text="${jobs.size() + ' Result(s)'}"></h3>-->

            <div  th:each="assign : ${assigns}">
                <table >
                    <tr>
                        <th>Teacher</th>
                        <td th:text="${assign..name}"></td>
                    </tr>
                    <tr>
                        <th>Course</th>
                        <td th:text="${assign.course}"></td>
                    </tr>
                    <tr>
                        <th>Student</th>
                        <td th:text="${assign.student}"></td>
                    </tr>

                </table>
            <!--</div>-->

        <!--</div>-->

    </div>
</div>

</body>
</html>