<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <style>

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 {
  width: 100%;
  background-color: #b7e8bc;
}
</style>
    <h1>Period 1</h1>

</head>
<body>
<table id="t01">

    <tr>
        <th>Teachers</th>
        <!-- If thing
        For thing in listofthings
            <td> thing </td>
        else
            <td> No things </td> -->
        <td>Example 1</td>
        <td>Example 2</td>
        <td>Example 3</td>
    </tr>
    <tr>
        <th>Classroom</th>
        <!-- If thing
        For thing in listofthings
            <td> thing </td>
        else
            <td> No things </td> -->
        <td>Example 4</td>
        <td>Example 5</td>
        <td>Example 6</td>
    </tr>
    <tr>
        <th>Other resources</th>
        <!-- If thing
         For thing in listofthings
             <td> thing </td>
         else
             <td> No things </td> -->
        <td>Example 7</td>
        <td>Example 8</td>
        <td>Example 9</td>
    </tr>
</table>

</body>
</html>
